@page
@model Web.Areas.Identity.Pages.Account.Manage.AddressModel
@{
    ViewData["Title"] = "My Address";
    ViewData["ActivePage"] = ManageNavPages.Address;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-floating col-md-6 p-1">
                <input asp-for="Address.RecieverName" class="form-control" />
                <label asp-for="Address.RecieverName" class="form-label"></label>
                <span asp-validation-for="Address.RecieverName" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 p-1">
                <input asp-for="Address.PhoneNumber" class="form-control" />
                <label asp-for="Address.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Address.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 p-1">
                <input asp-for="Address.City" class="form-control" />
                <label asp-for="Address.City" class="form-label"></label>
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 p-1">
                <input asp-for="Address.StreetAddress" class="form-control" />
                <label asp-for="Address.StreetAddress" class="form-label"></label>
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
        </div>
            <button type="submit" class="w-100 btn btn-primary">save</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

