@model Category
@{
    ViewData["Title"] = "Create category";
}

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" type="file" accept="image/*" name="file" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <fieldset class="form-add-set border row justify-content-center">
                <h3 for="sets" class="col-12 control-label">Attributes</h3>
                <div class="col-10">
                    <div class="add-sets">
                        <div class="form-inline add-set row">
                            <div class="form-group col">
                                <label for="AttributeTypes[0].Name" class="control-label for">Attribute type Name</label>
                                <input asp-for="AttributeTypes.First().Name" id="AttributeTypes[0].Name" name="AttributeTypes[0].Name" class="form-control input" required />
                                <span asp-validation-for="AttributeTypes.First().Name" data-valmsg-for="AttributeTypes[0].Name" class="text-danger valid" />
                            </div>
                            <div class="form-group col-auto">
                                <label></label>
                                <br />
                                <button class="btn btn-outline-danger btn-remove-set" data-toggle="tooltip" title="Remove Set"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary btn-add-set m-1">Add Set</button>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="ManageCategory" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">
    $(document).ready(function () {
        var wrapper = $('.add-sets');

        $(".btn-add-set").click(function(e) {
            e.preventDefault();
            debugger
            var obj = $('.add-set:first-child').clone(true);
            var index = $('.add-set').length;
            var txtIinput = obj.find(".input")[0];
            var name = "AttributeTypes[" + index + "].Name";
            txtIinput.setAttribute("name",name );
            txtIinput.setAttribute("id",name );
            txtIinput.value = "";
            var valids = obj.find("span");
            for(var i =0;i < valids.length;i++ ){
            valids[i].setAttribute("data-valmsg-for",name);
            }
            obj.find(".for")[0].setAttribute("for",name);

            obj.appendTo(wrapper);

            $('.add-set .btn-remove-set').show();
        });

        $('.btn-remove-set').click(function (e) {
            e.preventDefault();
            $(this).parents('.add-set').remove();

            removeButton();
        });

        function removeButton() {
            if ($('.add-set').length == 1) {
                $('.add-set .btn-remove-set').hide();
            }
        }
    });
</script>
}
