@model Ecommerce.WebUI.ViewModels.ItemVM

<form method="post" asp-action="Upsert">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Item</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Item.Name"></label>
			<input asp-for="Item.Name" class="form-control" />
			<span asp-validation-for="Item.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Item.Description"></label>
			<textarea asp-for="Item.Description" rows="3" class="form-control" ></textarea>
			<span asp-validation-for="Item.Description" class="text-danger"></span>
		</div>
				<div class="mb-3">
			<label asp-for="Item.Price"></label>
			<input asp-for="Item.Price" class="form-control" />
			<span asp-validation-for="Item.Price" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Item.ExpirationDate"></label>
			<input asp-for="Item.ExpirationDate" class="form-control" />
			<span asp-validation-for="Item.ExpirationDate" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Item.CategoryId"></label>
			<select asp-for="Item.CategoryId" asp-items="@Model.CategoryList" class="form-select">
				<option disabled selected>--Select Category --</option>
			</select>
			<span asp-validation-for="Item.CategoryId" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
